.dropmenu{
	width: 800px;
	height: 40px;
	list-style: none;
	background-color: #FFA500;
	margin: 30px auto 100px;
	border-bottom: 5px solid #FFD700;
	border-radius: 3px 3px 0 0;
	padding: 0;/*領域内のスペース*/
}

/*li全体に対して*/
.dropmenu li{
	float: left;
	text-align: center;
	width: 25%;
	margin: 0;
	padding: 0;
}


.dropmenu li > a{
	display: block;
	margin: 0;
	padding: 15px 0 11px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

.dropmenu > li > ul{
	list-style: none;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	border-radius: 0 0 3px 3px;
}

.dropmenu > li > ul > li{
	width: 100%;
	color: #fff;
}

.dropmenu > li > ul > li > a{
	padding: 13px 15px;
	background: #FFD700;
	text-align: center;
	font-weight: normal;
}

/*hoverした後のリンクの*/
.dropmenu li:hover > a{
	background-color: #FFD700;
	color: #FFEFD5;
	border-radius:3px 3px 0 0;
}

/*サブメニューの真ん中の区切り線*/
.dropmenu > li:hover > ul > li{
	border-top: 1px solid #FFEFD5;
	border-bottom:1px solid #ffbe00;
}

.dropmenu > li:hover > ul > li:first-child{
	border-top: 0;
}

.dropmenu > li:hover > ul > li:last-child{
	border-bottom: 0;
}

.dropmenu > li:hover > ul > li:last-child > a{
	border-radius: 0 0 3px 3px;
}